@font-face {
   font-family: 'Indie Flower';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/TOSHIBA/Desktop/hafizothman.com/websample/my/pendidikan//fonts/Indie Flower/regular.ttf') format('truetype');
}
